<!-- views/registrations.ejs -->
<h2>Registered Users</h2>
<table border="1">
  <tr>
    <th>Name</th><th>Roll No</th><th>Email</th><th>Event</th>
  </tr>
  <% users.forEach(user => { %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.rollno %></td>
      <td><%= user.email %></td>
      <td><%= user.event %></td>
    </tr>
  <% }) %>
</table>
